---
- name: "49.23 | L1 | Ensure 'Network security: Do not store LAN Manager hash value on next password change' is set to 'Enabled'"
  hosts: windows
  gather_facts: yes
  vars:
    no_lm_hash_state: 1  # 1 = Enabled, 0 = Disabled

  tasks:
    # ЗАДАЧА 1: Проверяем текущее значение параметра хранения хэша LAN Manager
    - name: "CHECK | Check current LAN Manager hash storage setting"
      ansible.windows.win_reg_stat:
        path: HKLM:\SYSTEM\CurrentControlSet\Control\Lsa
        name: NoLMHash
      register: lm_hash_check
      tags:
        - all
        - cis-windows
        - section49
        - "49.23"

    # ЗАДАЧА 2: Устанавливаем параметр запрета хранения хэша LAN Manager если нужно
    - name: "REMEDIATION | Disable LAN Manager hash storage"
      ansible.windows.win_regedit:
        path: HKLM:\SYSTEM\CurrentControlSet\Control\Lsa
        name: NoLMHash
        data: "{{ no_lm_hash_state }}"
        type: dword
      # ВЫПОЛНЯТЬ ЕСЛИ: параметр не существует ИЛИ значение не равно 1
      when: >
        lm_hash_check.value is not defined or
        lm_hash_check.value != no_lm_hash_state
      tags:
        - all
        - cis-windows
        - section49
        - "49.23"

    # ЗАДАЧА 3: Проверяем результат
    - name: "VERIFY | Verify LAN Manager hash storage setting"
      ansible.windows.win_reg_stat:
        path: HKLM:\SYSTEM\CurrentControlSet\Control\Lsa
        name: NoLMHash
      register: verify_lm_hash_result
      failed_when: >
        verify_lm_hash_result.value is not defined or
        verify_lm_hash_result.value != no_lm_hash_state
      tags:
        - all
        - cis-windows
        - section49
        - "49.23"