---
- name: "49.6 | L1 | Ensure 'Interactive logon: Do not display last user name' is set to 'Enabled'"
  hosts: windows
  gather_facts: yes

  vars:
    # ОПРЕДЕЛЯЕМ ЖЕЛАЕМОЕ ЗНАЧЕНИЕ
    desired_value: 1  # 1 = Enabled, 0 = Disabled

  tasks:
    # ЗАДАЧА 1: Проверяем текущее значение
    - name: "CHECK | Check current 'Do not display last user name' setting"
      ansible.windows.win_reg_stat:
        path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System # Путь к разделу реестра в формате PowerShell
        name: dontdisplaylastusername # Имя параметра реестра для проверки
      register: registry_check
      tags:
        - all                    
        - cis-windows           
        - section49             
        - "49.6"       

    # ЗАДАЧА 2: Применяем настройку ТОЛЬКО если значение отличается
    - name: "REMEDIATION | Set 'Do not display last user name' policy"
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System
        name: dontdisplaylastusername
        data: "{{ desired_value }}"
        type: dword
      # ВЫПОЛНЯТЬ ЕСЛИ: настройка не существует ИЛИ значение не равно желаемому
      when: >
        registry_check.exists == false or 
        (registry_check.exists == true and registry_check.value != desired_value)
      register: remediation_result
      tags:
        - all                    
        - cis-windows           
        - section49             
        - "49.6"
        
    # ЗАДАЧА 3: Проверяем результат
    - name: "VERIFY | Verify policy is set correctly"
      ansible.windows.win_reg_stat:
        path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System
        name: dontdisplaylastusername
      register: verify_result
      changed_when: false
      # ПРОВАЛ ЕСЛИ: значение не равно желаемому
      failed_when: verify_result.value != desired_value
      tags:
        - all                    
        - cis-windows           
        - section49             
        - "49.6"